body {
    background-color: #eee;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-famili: Arial, Helvetica, sans-serif;
}

html, body {
    margin-top: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemsList {
    border: 3px solid black;
    width: 80%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 80%;
    height: 30px;
    border-radius: 5px;
    border: 5px solid gray;
}